<h1>Stupid Coaching</h1>
<div class="form-group">
  <form action="/answer" method="get" class="form-inline" value="Enter question">
    <input type="text" name="question">
    <button type="submit" class="btn btn-primary">Ask!</button>
  </form>
</div>
